version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: al_jns
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    restart: always
    env_file:
      - apps/api/.env
    environment:
      - DATABASE_URL=postgres://postgres:password@postgres:5432/al_jns
      - PORT=3001
    ports:
      - "3333:3001"
    depends_on:
      postgres:
        condition: service_healthy

  bot:
    build:
      context: .
      dockerfile: apps/bot/Dockerfile
    restart: always
    environment:
      - DATABASE_URL=postgres://postgres:password@postgres:5432/al_jns
      - TELEGRAM_BOT_TOKEN=8789805402:AAFdyG-EWu2M7vRj6QnW4Q8vLlLhvGYbe0A
      - API_URL=http://api:3001
    depends_on:
      postgres:
        condition: service_healthy

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - api

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
